body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #5a229b;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}
h1::before{
    content: url("https://avatars.steamstatic.com/a76c050de0794e076b215dfdf24d821097a43cf3.jpg");
}
h1::after{
    content: url("https://avatars.steamstatic.com/a76c050de0794e076b215dfdf24d821097a43cf3.jpg");
}


.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: rgb(161, 161, 161);
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #4e13ac;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: rgb(78, 202, 5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.soc{
    position: fixed;
    right:0%;
    bottom: 100px;
    background-color: bisque;
    width: 170px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}
.sale{
    width: 150px;
    position: absolute;
    right: 0;
}
.address::before{
    content: url("https://files.prineside.com/gtasa_samp_game_texture/png/hud.radar_propertyG.png");
}
.tel::before{
    content: url("https://avatars.mds.yandex.net/i?id=016729fc093e7708220974af076dcda9_sr-5880141-images-thumbs&n=13");
}
.button:hover{
    background-color: black;
    color: blanchedalmond;
    border: 3px dotted wheat;
}
.button:focus{
 border: 1px solid wheat;
}
.nav-link:hover{
    color: blueviolet;
    border: 3px dotted blueviolet;
    border-radius: 10px;
    padding: 5px;
}
.nav-link:focus{

}

.article-but:hover {
    background-color: rgb(0, 0, 0);
    color: bisque;
}
